/* Container for the popup */
.categoriesPopup {
  position: absolute;
  right: 10px;
  width: 350px; /* Adjust for number of items */
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 35px;
  display: none;

}


.categoriesPopup ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Items wrap in grid-like layout */
  justify-content: space-between;
}

/* Individual list items */
.categoriesPopup li {
  text-align: center;
  margin: 10px;
  width: 80px; /* Size for each icon block */
  
}

/* Category text */
.categoriesPopup li span {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;

}

.categoriesPopup li :hover {
  color: #219EBC;
  
}

/* Link styling */
.categoriesPopup li a {
  text-decoration: none;
  color: inherit;

}

